html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

a {
	color: #009966;
	text-decoration: none;
}

	a:hover {
		color: #006443;
	}

p {
	margin: 5px 0;
}

.container {
	display: table;
	width: 100%;
	height: 100%;
	margin: auto;
	position: relative;
}

	.container-menu {
		background-color: #009966;
		height: 100px;
		overflow: hidden;
		position: fixed;
		right: 0;
		top: 0;
		width: 100px;
		z-index: 3;
	}

		.container-menu-outer {
			background-image: url('logo@4x.png');
			background-repeat: no-repeat;
			background-size: 60px 60px;
			background-position: center;
			height: 100px;
			opacity: 0.3;
			position: absolute;
			right: 0;
			top: 0;
			width: 100px;
			transition: background-size .05s ease-in;
			-moz-transition: background-size .05s ease-in;
			-ms-transition: background-size .05s ease-in;
			-o-transition: background-size .05s ease-in;
			-webkit-transition: background-size .05s ease-in;
			z-index: 4;
		}

			.container-menu-outer:hover,
			.container-menu-outer.active {
				background-size: 200px 200px;
			}

		.container-menu > .link-menu {
			background-image: url('logo.png');
			background-repeat: no-repeat;
			background-size: 60px 60px;
			background-position: center;
			display: block;
			height: 100px;
			position: absolute;
			right: 0;
			top: 0;
			width: 100px;
			transition: background-size .05s ease-in;
			-moz-transition: background-size .05s ease-in;
			-ms-transition: background-size .05s ease-in;
			-o-transition: background-size .05s ease-in;
			-webkit-transition: background-size .05s ease-in;
			z-index: 5;
		}

			.container-menu > .link-menu:hover,
			.container-menu > .link-menu.active {
				background-size: 70px 70px;
				cursor: pointer;
			}

	.container-content {
		background-position: center;
		background-repeat: no-repeat;
		display: table-cell;
		width: 100%;
		vertical-align: middle;
		position: relative;
		z-index: 2;
	}

		.container-content > .content {
			max-width: 700px;
			width: 90%;
			margin: 60px auto;
			min-width: 700px;
			max-width: 1200px;
			width: 40%;
			margin: 30px auto 88px;
			position: relative;
		}

			.container-content > .content > .controls {
				bottom: 0;
				position: absolute;
				right: 0;
			}

.carousel {
	border-bottom: 1px solid black;
	box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.3), inset 0px -10px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.3), inset 0px -10px 10px rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.3), inset 0px -10px 10px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.3), inset 0px -10px 10px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 400px;
	margin: 0 0 0 0;
	min-width: 700px;
	opacity: 0;
	padding: 3%;
	overflow: hidden;
	visibility: hidden;
}

	.carousel.lol {
		background-image: url('lol.jpg');
		background-position: center;
	}

	.carousel .player {
		border: 1px solid black;
		box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.4);
		border-bottom: 0;
		height: 100%;
		margin: 0 auto;
		width: 80%;
	}

.btn {
	background: #fafafa;
	border: 1px solid #b5b5b5;
	border-bottom: 1px solid #999;
	border-radius: 3px;
	box-shadow: inset 0 1px 0px #eee, inset 0px -1px 8px #ccc, 0 2px 3px #ccc;
	color: #555;
	cursor: pointer;
	font-family: sans-serif;
	font-weight: bold;
	padding: 9px 20px;
	text-align: center;
	text-shadow: 1px 1px 1px #fff;
	-webkit-transition: background-color 80ms linear;
	-moz-transition: background-color 80ms linear;
	-o-transition: background-color 80ms linear;
	-ms-transition: background-color 80ms linear;
	transition: background-color 80ms linear;
}

	.btn:hover {
		background: white;
	}

	.btn:active {
		background: #f3f3f3;
		box-shadow: inset 0 1px 5px #aaa, inset 0px -1px 10px #ccc, 0 1px 2px #bbb;
		padding: 10px 20px 8px;
	}

.hide {
	display: none !important;
}

.title {
	color: #424242;
	font-size: 40px;
	margin-bottom: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.author {
	color: #999;
	margin-bottom: 0px;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}


.position-control {
	border: none;
	color: #009966;
	display: block;
	background-color: #ddd;
	font-size: 36px;
	left: 50%;
	margin-left: -20px;
	opacity: 0.5;
	padding: 20px;
	position: fixed;
	z-index: 3;
}

	.position-control:hover {
		color: #006443;
		opacity: 1;
	}

	.position-control.next {
		bottom: -2px;
	}

	.position-control.prev {
		padding: 14px 20px 26px;
		top: -2px;
	}